* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #fff;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
button {
    cursor: pointer;
}
.header.active {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    a {
        color: #232323;
    }
    .fa {
        color: #232323;
    }

}
.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #6d989b;
    position: fixed;
    transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
    z-index: 99;
    color: #fff;
    font-weight: 300;
    &-button {
        button {
            border: 1px solid #6d989b;
            width: 150px;
            height: 30px;
            color: #6d989b;
            border-radius: 5px;
            background-color: #fff;
                &:hover {
                    background-color: #C2C7D5;
                }
        }
    }
    &-calcs {
        display: flex;
        width: 100px;
        justify-content: space-between;
        .fa {
            font-size: 30px;
            color: #fff;
        }
    }
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &-logo {
        .logo-block {
            width: 40px;
            height: 40px;
            border: solid 1px;
            margin: 0 auto;
        }
    }
    &-links {
        display: flex;
        width: 300px;
        justify-content: space-between;
        list-style-type: none;
    }
}
.search {
    display: flex;
    width: 99%;
    margin: 100px 10px 0; 
    .dropdown {
        width: 16%;
        background-color: #6d989b;
        margin-right: 20px;
        height: 450px;
        padding: 10px 15px;
        border-radius: 15px;
        font-weight: 300;
        input {
            width: 98%;
            height: 40px;
            border-radius: 20px;
            border: 1px solid grey;
            margin-top: 20px;
            padding: 8px;
            font-weight: 300;
            &::placeholder {
                color: #6d989b;
            }
        }
        &-list {
            background-color: #fff;
            margin-top: 30px;
            position: relative;
            padding: 10px;
            border-radius: 5px;
            color: #6d989b;
            &:before {
                content: "";
                position: absolute;
                left: 8%;
                top: -25px;
                border: 15px solid transparent;
                border-bottom: 15px solid #fff;
            }
            ul {
                li {
                    border-bottom: 1px solid lightgrey;
                    height: 30px;
                    width: 100%;
                    &:hover {
                        background-color: #C2C7D5;
                    }

                }
            }
        }
    }
    .table {
        width: 82%;
        font-size: 14px;
        font-weight: 300;
        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;        
        }
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #6d989b;
            color: #fff; 
            height: 30px; 
            text-align: center;    
        }
        &-string {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            text-align: center;
            &:hover {
                background-color: #DDE2F0;
            } 
        }
    }
    .name {
        width: 11%;
    }
    .size {
        width: 5%;
    }
    .mark {
        width: 5%;
    }
    .price {
        width: 6%;
    }
    .info {
        width: 12%;
    }
    .rem {
        width: 5%;
    }
    .provider {
        width: 8%;
    }
    .city {
        width: 8%;
    }
    .phone {
        width: 12%;
    }
    .mail {
        width: 12%;
    }
    .raiting {
        width: 5%;
    }
    .button {
        width: 12%;
        button {
            border: 1px solid #6d989b;
            width: 100%;
            height: 30px;
            color: #6d989b;
            border-radius: 5px;
            background-color: #fff;
            &:hover {
                background-color: #C2C7D5;
            }
        }
    }
}
