* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #000;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
button {
    cursor: pointer;
}
.header.active {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    a {
        color: #232323;
    }
    .fa {
        color: #232323;
    }

}
.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #fff;
    position: fixed;
    transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
    z-index: 99;
    font-weight: 300;
    &-button {
        button {
            border: 2px solid #F3FF02;
            width: 150px;
            height: 30px;
            border-radius: 5px;
            font-weight: 300;
            background-color: #F3FF02;
                &:hover {
                    background-color: #C2C7D5;
                }
        }
    }
    &-calcs {
        display: flex;
        width: 100px;
        justify-content: space-between;
        .fa {
            font-size: 30px;
            color: #000;
        }
    }
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &-logo {
        .logo-block {
            width: 40px;
            height: 40px;
            border: solid 1px #000;
            margin: 0 auto;
        }
    }
    &-links {
        display: flex;
        width: 300px;
        justify-content: space-between;
        list-style-type: none;
    }
}
.search {
    display: flex;
    width: 99%;
    margin-top: 92px; 
    .dropdown {
        width: 18%;
        background-color: #fff;
        margin-right: 10px;
        height: 450px;
        padding: 10px 15px;
        border-radius: 15px;
        font-weight: 300;
        font-size: 14px;
        .first-input, .second-input, .fourth-input {
            .fa {
                margin: -22px 17px 0 0;
                position: relative;
                float: right;
                font-weight: 400;
            }
        }
        .third-two-inputs, .fifth-two-inputs {
            input {
                width: 45px;
                height: 30px;
                border-radius: 5px;
            }
        }
        .sixth-input {
            input {
                width: 79%;
            }
        }
        .seventh-input {
            input {
                width: 72%;
            }
            .fa {
                margin: -22px 17px 0 0;
                position: relative;
                float: right;
                font-weight: 400;
            }
        }
        .eighth-input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            input {
                width: 60%;
            }
        }
        .ninth-input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            input {
                width: 65%;
            }
        }
        .tenth-input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            input {
                width: 60%;
            }
        }
        input {
            width: 98%;
            height: 30px;
            border-radius: 20px;
            border: 1px solid grey;
            margin-top: 10px;
            padding: 8px;
            font-weight: 300;
            &::placeholder {
                color: grey;
                font-size: 11px;
            }
        }
        &-list {
            background-color: #fff;
            margin-top: 30px;
            position: relative;
            padding: 10px;
            border-radius: 5px;
            color: #6d989b;
            &:before {
                content: "";
                position: absolute;
                left: 8%;
                top: -25px;
                border: 15px solid transparent;
                border-bottom: 15px solid #fff;
            }
            ul {
                li {
                    border-bottom: 1px solid lightgrey;
                    height: 30px;
                    width: 100%;
                    &:hover {
                        background-color: #C2C7D5;
                    }

                }
            }
        }
    }
    .table {
        width: 82%;
        font-size: 12px;
        font-weight: 300;
        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 101%;        
        }
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: grey;
            color: #fff; 
            height: 30px; 
            text-align: center;
            position: fixed;
            width: 81.5%;    
        }
        &-strings {
            width: 100%;
            margin-top: 20px;
        }
        &-string {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            text-align: center;
            &:hover {
                background-color: #DDE2F0;
            } 
        }
    }
    .name {
        width: 11%;
    }
    .size {
        width: 5%;
    }
    .mark {
        width: 5%;
    }
    .price {
        width: 6%;
    }
    .info {
        width: 12%;
    }
    .rem {
        width: 5%;
    }
    .provider {
        width: 8%;
    }
    .city {
        width: 8%;
    }
    .phone {
        width: 12%;
    }
    .mail {
        width: 12%;
    }
    .raiting {
        width: 5%;
    }
    .button {
        width: 12%;
        button {
            border: 2px solid #F3FF02;
            width: 90%;
            height: 30px;
            font-weight: 300;
            border-radius: 5px;
            background-color: #F3FF02;
            &:hover {
                background-color: #C2C7D5;
            }
        }
    }
}
.footer {
    background-color: #fff;
    width: 100%;
    padding: 50px 0;
    font-weight: 300;
    &-logo {
        margin: 0 auto;
        .logo-block {
            width: 40px;
            height: 40px;
            border: solid 1px #000;
        }
    }
    a {
        &:hover {
            color: #F3FF02;
        }
    }
    &-wrapper {
        display: flex;
    }
    &-left {
        width: 33%;
    }
    &-contacts {
        margin-top: 30px;
        text-transform: uppercase;
    }
    &-phone {
        margin-top: 30px;
    }
    &-rates {
        margin-top: 30px;
        text-transform: uppercase;
    }
    .social {
        display: flex;
        margin-top: 30px;
        width: 43%;
        justify-content: space-between;
    }
    &-middle {
        width: 34%;
    }
    &-address {
        width: 95%;
        height: 50px;
        // box-shadow: 0px 0 2px -1px #000;
        border: 1px solid #000;
        margin-top: 30px;
        align-items: center;
        display: flex;
        padding-left: 10px;
        .fa {
            margin-right: 10px;
            color: #F3FF02;
        }
    }
    &-mail {
        width: 95%;
        height: 50px;
        margin-top: 5px;
        // box-shadow: 2px 2px 1px -2px #000;
        border: 1px solid #000;
        align-items: center;
        display: flex;
        padding-left: 10px;
        .fa {
            margin: 0 10px 0 0;
            color: #F3FF02;
        }
    }
    .subheader {
        font-size: 35px;
            color: #000;
            font-weight: 300;
            span {
                color: #F3FF02;
            }
    }
    &-right {
        width: 33%;
        input {
            background-color: transparent;
            width: 95%;
            height: 60px;
            margin-top: 20px;
            border: solid 1px #000;
            
        }
    }
    &-form {
        .fa {
            margin: -22px -25px 0 -39px;
            position: relative;
            color: #F3FF02;
            font-size: 24px;
        }
    }
    &-faq {
        margin-top: 20px;
        
    }
    &-help {
        margin-top: 20px;
    }
}
